[Unit]
Description=RPI Picture Show - Fullscreen Slideshow
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
# Konsole freigeben: fbcon vom DRM-Geraet trennen, damit kmsdrm den HDMI-Ausgang nutzen kann
ExecStartPre=-/bin/chvt 2
ExecStartPre=-/bin/sh -c 'echo 0 > /sys/class/vtconsole/vtcon1/bind'
ExecStart=/usr/bin/python3 /home/pi/rpi-picture-show/slideshow.py
# Bei Beendigung: fbcon wieder anbinden und Konsole wiederherstellen
ExecStopPost=-/bin/sh -c 'echo 1 > /sys/class/vtconsole/vtcon1/bind'
ExecStopPost=-/bin/chvt 1
WorkingDirectory=/home/pi/rpi-picture-show
Restart=on-failure
RestartSec=5
TTYPath=/dev/tty2
StandardInput=tty-force
StandardOutput=journal
StandardError=journal
# Zugriff auf Framebuffer/DRM
SupplementaryGroups=video input render

[Install]
WantedBy=multi-user.target
